Data_Visualisasi_2.ipynb
Data_Visualisasi.ipynb
Kolerasi.ipynb
Transformasi_Data.ipynb

.ipynb_checkpoints/Data_Visualisasi_2-checkpoint.ipynb
.ipynb_checkpoints/Data_Visualisasi-checkpoint.ipynb
.ipynb_checkpoints/Kolerasi-checkpoint.ipynb
.ipynb_checkpoints/Transformasi_Data-checkpoint.ipynb